/* TODO:
 - pick a simple naming convention.
 - move all my temp inline-in-jsx styles here?
 - or put them next to the components? Haven't explored that in vite yet.
*/

.applications-new-application-button {
    margin-left: auto;
    position: absolute;
    right: 75px;
    top: 0;
    /* width: 49%; */
}

.applications-application-card {
    margin-top: 1rem;
}

body {
    background: #fafafa;
}
